<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.self"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14" />

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature android:name="android.hardware.wifi" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".RadioTogglesActivity"
                  android:label="@string/app_name">
        </activity>

        <activity-alias android:name=".RadioTogglesActivity.On.Wifi"
                        android:targetActivity=".RadioTogglesActivity">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data android:name="com.google.android.glass.VoiceTrigger"
                       android:resource="@xml/trigger_on_wf" />
        </activity-alias>
        <activity-alias android:name=".RadioTogglesActivity.On.Bluetooth"
                        android:targetActivity=".RadioTogglesActivity">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data android:name="com.google.android.glass.VoiceTrigger"
                       android:resource="@xml/trigger_on_bt" />
        </activity-alias>
        <activity-alias android:name=".RadioTogglesActivity.On.AirplaneMode"
                        android:targetActivity=".RadioTogglesActivity">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data android:name="com.google.android.glass.VoiceTrigger"
                       android:resource="@xml/trigger_on_air" />
        </activity-alias>
        <activity-alias android:name=".RadioTogglesActivity.Off.Wifi"
                        android:targetActivity=".RadioTogglesActivity">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data android:name="com.google.android.glass.VoiceTrigger"
                       android:resource="@xml/trigger_off_wf" />
        </activity-alias>
        <activity-alias android:name=".RadioTogglesActivity.Off.Bluetooth"
                        android:targetActivity=".RadioTogglesActivity">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data android:name="com.google.android.glass.VoiceTrigger"
                       android:resource="@xml/trigger_off_bt" />
        </activity-alias>
        <activity-alias android:name=".RadioTogglesActivity.Off.AirplaneMode"
                        android:targetActivity=".RadioTogglesActivity">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data android:name="com.google.android.glass.VoiceTrigger"
                       android:resource="@xml/trigger_off_air" />
        </activity-alias>
    </application>
</manifest>
